body {
    background-image: url('img/fundo-de-madeira.webp');
    background-repeat: repeat-y;
    background-size: 100%;
}

header h1 {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

header h1:hover {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    height: 75px;
    
}

main {
    width: 1250px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

fieldset {
    color: #FFFFFF;
    margin-top: 50px;
}

legend {
    margin: 20px 0;
}

form label {
    color: #FFFFFF;
}

form label, form h2 {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

#estado {
    margin: 20px 0;
}

#arquivo {
    margin: 20px 0;
}
